.table {
  width: 80%;
  margin-bottom: 40px; 
  margin-left: 270px;
}
div > h2 {
  
  margin-left: 270px; 

}

.main {
  margin-top: 150px;
  display: flex;
  margin-bottom: 10px;
  
}

.btn-1{
  margin-left: 5px;
  width: 80px;
  border-radius: 5px;
  height: 30px;
}

.action-button{
  display: flex;
  gap: 10px;
}


/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .table {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  div > h2 {
      margin-left: 5%;
  }
  .main {
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
  }
  .btn-1 {
      margin-left: 0;
      margin-right: 0;
      width: 100px;
  }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .table {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      font-size: 12px; /* Smaller font for mobile */
  }
  div > h2 {
      margin-left: 5%;
      font-size: 18px; 
  }
  .main {
      flex-direction: column;
      align-items: left;
      margin-top: 80px;
      margin-left: 5%;
  }
  .btn-1 {
      width: 20%;
  }
  .thead-light th {
      font-size: 14px;
  }
  .action-button {
      flex-direction: column;
      gap: 5px;
  }
  .table-bordered td, .table-bordered th {
      padding: 8px; 
  }
}